.pokemon_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1%;
  list-style: none;
  justify-content: center;
}

.pokemon_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 5px;
  padding: 1px;
  border-radius: 0.5rem;
  height: 120px;
  width: 150px;
  color: white;
  background-color: green;
}

.name {
  grid-column: 1/2;
  grid-row: 1 /2;
  justify-self: center;
  text-align: start;
}

.number {
  grid-column: 2/2;
  grid-row: 1 /2;
  justify-self: center;
  text-align: end;
  color: rgb(58, 58, 58);
}

.image {
  grid-column: 2/2;
  grid-row: 2/2;
  justify-self: center;
  max-width: 100%;
  max-height: 100%;
}

.types {
  grid-column: 1/2;
  grid-row: 2/2;
  justify-self: start;
  text-align: center;
}

.type {
  font-size: 0.95em;
  margin-right: 0.5rem;
  margin-bottom: 0.1rem;
  padding: 0.1em 1em; 
  border-radius: 1em;
  color: white;
  background-color: rgb(58, 58, 58, 0.5);
}
